*{
    box-sizing: border-box;
}

.outerDiv{
    margin-right: 10%;
    margin-left: 10%;
}

.imgContainer{
    display: flex;
    flex-direction: column;
}

.imgLinkContainer{
    display: flex;
    flex-direction: column;
}

.imgLinks{
    height: 50px;
    width: 50px;
    margin: 20px;
    margin-left: 80px;
}

.headerContainer{
    display: flex;
    border: 1px solid black;
    height: auto;
    width: auto;
    background-image: url(../img/depositphotos_99798984-stock-illustration-abstract-digital-web-site-header.jpg);
    background-size: cover;
}


.headerImg{
    height: 100px;
    width: 200px;

}

.sumContainer{
    display: flex;
    flex-direction: column;;
    text-align: center;
    transition: 1s;
    margin: 0;
    margin-top: 10px;
}
.sumContainer h1{
    margin-top: 10px;
    background-color: black;
    padding: 15px;
    font-size: 25px;
    letter-spacing: 5px;
    font-family: sans-serif;
    color: white;
    opacity: 0.80;
}

.sumContainer h2{
    margin-top: 10px;
    background-color: black;
    padding: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: white;
    opacity: 0.70;
}
.sumContainer p{
    background-color: black;
    padding: 15px;
    font-family: sans-serif;
    color: white;
    border-radius: 5%;
    opacity: 0.6;
    text-align: left;
    transition: 1s;
    
}



.skillsContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: auto;
    height: auto;
    margin-top: 10px;
    text-align: center;
    justify-content: center;


}

.skillsContainer h1{
    margin-top: 10px;
    background-color: black;
    padding: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: white;
    opacity: 0.70;
    
}

.listItemsContainer{

    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: -50px;
   
}

.listItemsContainer div{
    margin: 50px;
}

.listItemsContainer li{
    text-decoration: none;
}

.listItemsContainer li:hover{
    font-weight: bold;
    transition: 1s; 
    
    

}

.edExContainer{
    display: flex;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    height: auto;
    margin-top: 10px;
}

.edExContainer h1{
    margin-top: 10px;
    background-color: black;
    padding: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: white;
    opacity: 0.70;

}

.edExContainer > div{
    border: 1px solid black;
    width: 50%;
    justify-content: center;
}

.edExContainer ul{
    text-align: left;
    line-height: 20px;
}

@media all and (max-width: 600px){
    .outerDiv * {
        display: flex;
        flex-flow: column;  
        height: auto;
        width: auto;
    }
    .edExContainer > div{
        width: auto;
    }

    .titleSumContainer{
        margin: 0;


    }
    .skillsContainer div{
        margin: 0px;
    }

    .headerContainer{
        background-image: url(../img/depositphotos_99798984-stock-illustration-abstract-digital-web-site-header.jpg)
    }

    .sumContainer{
        color: white;
        margin: 0 10px;
    }


    .imgLinks{
        height: 50px;
        width: 50px;
    }
    .imgLinkContainer{
        flex-direction: row;
    }
}
    
    















